services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    command: ["python", "-m", "uvicorn", "backend.app.main:app", "--host", "0.0.0.0", "--port", "8124"]
    ports:
      - "8124:8124"
